<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insert Bottles</title>
    <link rel="stylesheet" href="../styles.css">
    </style>
</head>
<body>
    <div class="insert-container">
        <h2>Please Insert Bottles</h2>
        <div class="image-container">
            <img src="Designs/image 4.png" alt="Insert Bottle">
        </div>
        <p class="status">Waiting for <span class="my-b">60 sec</span></p>
        <div class="info">
            <p>Time: <span>0 min</span></p>
            <p>Bottle Value: <span>0.00</span></p>
        </div>
        <div class="action-buttons">
            <button class="action-btn action-cancel">Cancel</button>
            <button class="action-btn action-done">Done</button>
        </div>
    </div>
</body>
</html>